.Header {
  background-color: #fff;
  border-bottom: 1px solid #e1e4e8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;

  >ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    >li {
      margin: 0 16px;
    }
  }
}